 <!-- Scripts Js-->

<div class="my-2 flex justify-center">
	<h1 class=" font-bold text-4xl">
		<span class="">Ln<span class="ln-logo-decor">class</span></span>
	</h1>
</div>
<div class="flex border py-2 px-4 md:-px-32 justify-center">
	<div class="font-bold">
		<span class=""><%= link_to 'Connexion', "/student-sign-in" %></span>
		<span class=" ml-4"><%= link_to 'Inscription', "/teacher-sign-up" %></span>
		
	</div>
</div>