 <!-- Scripts Js-->
    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>

<div class="my-2 flex justify-center">
	<h1 class="text-white font-bold font-bold text-4xl">
		<span class="">Ln<span class="ln-logo-decor">class</span></span>
	</h1>
</div>
<div class="flex border-y border-y-slate-300 py-2 px-4 md:-px-32 text-white  justify-center">
	<div class="">
		<span class=" ml-4"><%= link_to 'Connexion', "/ambassadeur-sign-in" %></span>
		<span class=" ml-4"><%= link_to 'Inscription', "/ambassadeur-sign-up" %></span>
	</div>
</div>