
<% @title="Se connecter Teams" %>

  <div class="container-fluid bg-white" >
    <div class="flex flex-wrap ">
      <div class="m-auto border border-x-slate-300 ">
        <!-- Header -->
        <%= render "membership/shared/header" %>

        <div class="px-4 md:px-32 py-8">
          <h2 class="flex justify-center text-2xl font-bold">Connexion Teams</h2>      
        <!-- forms -->
        <%= render "membership/shared/sign_in" %>
        </div>
      </div>
    </div> 
  </div>